
body{
  /*background-color: #242424;*/
  /*background-image: radial-gradient(rgb(31, 81, 120) 50%,#1b1e1f);
  background-image: linear-gradient(to left top, rgb(40, 58, 81),rgb(58, 7, 7));
  */
  background: linear-gradient(180deg, rgb(0, 0, 0) 20%, rgb(13, 20, 52) 50%, rgb(67, 29, 113) 100%);
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 0; /* Asegúrate de que no haya márgenes predeterminados */
  padding: 0;
  min-height: 100vh;
}


html {
  scroll-behavior: smooth;
}
.markyellow{
  color: rgb(152, 123, 233);
}

.portfolio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

/*HEADER*/
.navbar{
  margin-top: 15px;
  color: white;
  display: block;
  height: 2.5rem;  
  border-radius: 10px;
  width: max-content;
  box-shadow: 1px 2px 10px rgb(0, 0, 0);
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar a{
  text-decoration: none;
  color: white;
}
.navbar ul li{
  font-size: 15px;
  padding: 10px;
}
.navbar ul li a.active {
  color: rgb(152, 123, 233); /* Cambia el color del enlace activo */
  font-weight: bold; /* Puedes añadir más estilos como hacerlo en negrita */
}




/*Profiele*/

.profile{
  margin-top: 6rem;
  color: white;
  font-size: 3rem;
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  
}
.fotoPerfil{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.profile-foto{
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.profile h1{
  font-size: 45px;
  width: 23rem;
  padding-left: 1rem;
}
.profile p{
  font-size: 20PX;
  text-align: justify;
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.contact{
  display: flex;
  justify-content: start;
  text-align: center;
  font-size: 17px;
  gap: 1rem;
  align-items: center;
  padding-left: 1rem;
  flex-wrap: wrap;
}

.contact a{
  color: white;
  text-decoration: none;
  display: flex;
  border: 1px solid gray;
  padding: 7px;
  border-radius: 15px;
  background-color: rgb(79, 88, 109);
  gap: 5px;
}


/*Experiencia laboral*/

.work{
  margin-top: 5rem;
  color: white;
  max-width: 42rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.work h2{
  font-size: 40px;
  padding-left: 1rem;
}

.timeline-work{
  display: flex;
  justify-content: center;
  align-items: center;  
}
.timeline-work p{
  text-align: justify;
  padding-right: 1rem;
}
